@if (Request.IsAuthenticated)
{}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Index", "Registration")</li>
        <li>@Html.ActionLink("Login", "Login", "Home")</li>
    </ul>
}