@{
    ViewBag.Title = "Contact Us:";
}
<h2>@ViewBag.Title</h2>

<address>
    One University Plaza,<br />
    Shreveport, LA 71105<br />
    <abbr title="Phone">P:</abbr>
    318.555.0123
</address>

<address>
    <strong>School:</strong>   <a href="mailto:Support@example.com">rochat97@lsus.edu</a><br />
    <strong>Personal:</strong> <a href="mailto:Marketing@example.com">rohzek@gmail.com</a>
</address>